* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 3px solid purple;
  background-color: aqua;
  margin: 3px;
  padding: 3px;
}

nav {
  border: 3px solid green;
  margin: 3px;
  padding: 3px;
}

div {
  border: 2px solid blue;
  margin: 5px;
  padding: 5px;
}

padding {
  border: 1px solid green;
}

#imgdiv {
  margin: 15px;
  padding: 10px;
  border: 3px solid teal;
  color: teal;
}

#viddiv {
  margin: 10px;
  padding: 20px;
}

footer {
  border: 3px solid burlywood;
  margin: 10px;
  padding: 10px;
}

.dropbtn {
    background-color: rgb(57, 77, 255);
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(252, 139, 139);}

  input[type=text]:focus {

    background-color: aqua;
    width: 100%;
    transition: 2s;

  }

  input[type=text]:hover {

    background-color: aqua;
    transition: 2s;

  }

  input[type=submit]:hover {
    background-color: aqua;
    border: solid;
  }