* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 3px solid purple;
  background-color: aqua;
  margin: 3px;
  padding: 3px;
}

nav {
  border: 3px solid green;
  margin: 3px;
  padding: 3px;
}

div {
  border: 2px solid blue;
  margin: 5px;
  padding: 5px;
}

padding {
  border: 1px solid green;
}

#imgdiv {
  margin: 15px;
  padding: 10px;
  border: 3px solid teal;
  color: teal;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 1;
}

#imgdiv img {
  background-position: center;
  width: 50%;
  height: auto;
  background-size: auto;
}

#imgdiv p {
  color: black;
}

#viddiv {
  margin: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#viddiv video {
  width: 50%;
  height: auto;
  background-position: center;
}

footer {
  border: 3px solid burlywood;
  margin: 10px;
  padding: 10px;
}

.dropbtn {
    background-color: rgb(57, 77, 255);
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: lightgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(252, 139, 139);}

  input[type=text]:focus {

    background-color: aqua;
    width: 100%;
    transition: 2s;

  }

  input[type=text]:hover {

    background-color: aqua;
    transition: 2s;

  }

  input[type=submit]:hover {
    background-color: aqua;
    border: solid;
  }

  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}